<!DOCTYPE html>
<html>
<head>
  <title>Customer Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <h1>Customer Details</h1>
  <p><strong>Name:</strong> <%= customer.customerName %></p>
  <p><strong>Contact Number:</strong> <%= customer.contactNumber %></p>
  <p><strong>Email:</strong> <%= customer.email %></p>
  <p><strong>Address:</strong> <%= customer.address %></p>

  <a href="/">Back</a>
</body>
</html>